<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="showClearSelectionButton_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="showClearSelectionButton" type="xboolean" value="true"/>
        <config key="columns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="columns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="30"/>
                <entry key="0" type="xstring" value="China"/>
                <entry key="1" type="xstring" value="Italy"/>
                <entry key="2" type="xstring" value="US"/>
                <entry key="3" type="xstring" value="Spain"/>
                <entry key="4" type="xstring" value="Germany"/>
                <entry key="5" type="xstring" value="Iran"/>
                <entry key="6" type="xstring" value="France"/>
                <entry key="7" type="xstring" value="South Korea"/>
                <entry key="8" type="xstring" value="Switzerland"/>
                <entry key="9" type="xstring" value="United Kingdom"/>
                <entry key="10" type="xstring" value="Netherlands"/>
                <entry key="11" type="xstring" value="Austria"/>
                <entry key="12" type="xstring" value="Belgium"/>
                <entry key="13" type="xstring" value="Norway"/>
                <entry key="14" type="xstring" value="Sweden"/>
                <entry key="15" type="xstring" value="Portugal"/>
                <entry key="16" type="xstring" value="Australia"/>
                <entry key="17" type="xstring" value="Brazil"/>
                <entry key="18" type="xstring" value="Denmark"/>
                <entry key="19" type="xstring" value="Canada"/>
                <entry key="20" type="xstring" value="Malaysia"/>
                <entry key="21" type="xstring" value="Turkey"/>
                <entry key="22" type="xstring" value="Czechia"/>
                <entry key="23" type="xstring" value="Japan"/>
                <entry key="24" type="xstring" value="Israel"/>
                <entry key="25" type="xstring" value="Ireland"/>
                <entry key="26" type="xstring" value="Luxembourg"/>
                <entry key="27" type="xstring" value="Ecuador"/>
                <entry key="28" type="xstring" value="Pakistan"/>
                <entry key="29" type="xstring" value="Singapore"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="138"/>
                <entry key="0" type="xstring" value="Cruise Ship"/>
                <entry key="1" type="xstring" value="Poland"/>
                <entry key="2" type="xstring" value="Chile"/>
                <entry key="3" type="xstring" value="Finland"/>
                <entry key="4" type="xstring" value="Greece"/>
                <entry key="5" type="xstring" value="Thailand"/>
                <entry key="6" type="xstring" value="Iceland"/>
                <entry key="7" type="xstring" value="Indonesia"/>
                <entry key="8" type="xstring" value="Saudi Arabia"/>
                <entry key="9" type="xstring" value="Qatar"/>
                <entry key="10" type="xstring" value="Romania"/>
                <entry key="11" type="xstring" value="Slovenia"/>
                <entry key="12" type="xstring" value="India"/>
                <entry key="13" type="xstring" value="Philippines"/>
                <entry key="14" type="xstring" value="Russia"/>
                <entry key="15" type="xstring" value="Peru"/>
                <entry key="16" type="xstring" value="Bahrain"/>
                <entry key="17" type="xstring" value="Egypt"/>
                <entry key="18" type="xstring" value="Estonia"/>
                <entry key="19" type="xstring" value="Panama"/>
                <entry key="20" type="xstring" value="South Africa"/>
                <entry key="21" type="xstring" value="Argentina"/>
                <entry key="22" type="xstring" value="Croatia"/>
                <entry key="23" type="xstring" value="Mexico"/>
                <entry key="24" type="xstring" value="Lebanon"/>
                <entry key="25" type="xstring" value="Iraq"/>
                <entry key="26" type="xstring" value="Colombia"/>
                <entry key="27" type="xstring" value="Serbia"/>
                <entry key="28" type="xstring" value="Dominican Republic"/>
                <entry key="29" type="xstring" value="Algeria"/>
                <entry key="30" type="xstring" value="Armenia"/>
                <entry key="31" type="xstring" value="Kuwait"/>
                <entry key="32" type="xstring" value="Bulgaria"/>
                <entry key="33" type="xstring" value="Slovakia"/>
                <entry key="34" type="xstring" value="San Marino"/>
                <entry key="35" type="xstring" value="Taiwan*"/>
                <entry key="36" type="xstring" value="Uruguay"/>
                <entry key="37" type="xstring" value="United Arab Emirates"/>
                <entry key="38" type="xstring" value="Lithuania"/>
                <entry key="39" type="xstring" value="Latvia"/>
                <entry key="40" type="xstring" value="Costa Rica"/>
                <entry key="41" type="xstring" value="Hungary"/>
                <entry key="42" type="xstring" value="Bosnia and Herzegovina"/>
                <entry key="43" type="xstring" value="Morocco"/>
                <entry key="44" type="xstring" value="North Macedonia"/>
                <entry key="45" type="xstring" value="Andorra"/>
                <entry key="46" type="xstring" value="Vietnam"/>
                <entry key="47" type="xstring" value="Jordan"/>
                <entry key="48" type="xstring" value="New Zealand"/>
                <entry key="49" type="xstring" value="Cyprus"/>
                <entry key="50" type="xstring" value="Moldova"/>
                <entry key="51" type="xstring" value="Malta"/>
                <entry key="52" type="xstring" value="Albania"/>
                <entry key="53" type="xstring" value="Brunei"/>
                <entry key="54" type="xstring" value="Cambodia"/>
                <entry key="55" type="xstring" value="Sri Lanka"/>
                <entry key="56" type="xstring" value="Belarus"/>
                <entry key="57" type="xstring" value="Burkina Faso"/>
                <entry key="58" type="xstring" value="Tunisia"/>
                <entry key="59" type="xstring" value="Ukraine"/>
                <entry key="60" type="xstring" value="Venezuela"/>
                <entry key="61" type="xstring" value="Senegal"/>
                <entry key="62" type="xstring" value="Azerbaijan"/>
                <entry key="63" type="xstring" value="Kazakhstan"/>
                <entry key="64" type="xstring" value="Oman"/>
                <entry key="65" type="xstring" value="Georgia"/>
                <entry key="66" type="xstring" value="Trinidad and Tobago"/>
                <entry key="67" type="xstring" value="Uzbekistan"/>
                <entry key="68" type="xstring" value="Afghanistan"/>
                <entry key="69" type="xstring" value="Cameroon"/>
                <entry key="70" type="xstring" value="Liechtenstein"/>
                <entry key="71" type="xstring" value="Cuba"/>
                <entry key="72" type="xstring" value="Congo (Kinshasa)"/>
                <entry key="73" type="xstring" value="Nigeria"/>
                <entry key="74" type="xstring" value="Mauritius"/>
                <entry key="75" type="xstring" value="Bangladesh"/>
                <entry key="76" type="xstring" value="Honduras"/>
                <entry key="77" type="xstring" value="Bolivia"/>
                <entry key="78" type="xstring" value="Ghana"/>
                <entry key="79" type="xstring" value="Monaco"/>
                <entry key="80" type="xstring" value="Paraguay"/>
                <entry key="81" type="xstring" value="Montenegro"/>
                <entry key="82" type="xstring" value="Guatemala"/>
                <entry key="83" type="xstring" value="Guyana"/>
                <entry key="84" type="xstring" value="Jamaica"/>
                <entry key="85" type="xstring" value="Rwanda"/>
                <entry key="86" type="xstring" value="Togo"/>
                <entry key="87" type="xstring" value="Kenya"/>
                <entry key="88" type="xstring" value="Barbados"/>
                <entry key="89" type="xstring" value="Cote d'Ivoire"/>
                <entry key="90" type="xstring" value="Kyrgyzstan"/>
                <entry key="91" type="xstring" value="Maldives"/>
                <entry key="92" type="xstring" value="Tanzania"/>
                <entry key="93" type="xstring" value="Ethiopia"/>
                <entry key="94" type="xstring" value="Mongolia"/>
                <entry key="95" type="xstring" value="Seychelles"/>
                <entry key="96" type="xstring" value="Equatorial Guinea"/>
                <entry key="97" type="xstring" value="Gabon"/>
                <entry key="98" type="xstring" value="Suriname"/>
                <entry key="99" type="xstring" value="Bahamas"/>
                <entry key="100" type="xstring" value="Eswatini"/>
                <entry key="101" type="xstring" value="Cabo Verde"/>
                <entry key="102" type="xstring" value="Central African Republic"/>
                <entry key="103" type="xstring" value="Congo (Brazzaville)"/>
                <entry key="104" type="xstring" value="El Salvador"/>
                <entry key="105" type="xstring" value="Liberia"/>
                <entry key="106" type="xstring" value="Madagascar"/>
                <entry key="107" type="xstring" value="Namibia"/>
                <entry key="108" type="xstring" value="Zambia"/>
                <entry key="109" type="xstring" value="Zimbabwe"/>
                <entry key="110" type="xstring" value="Angola"/>
                <entry key="111" type="xstring" value="Benin"/>
                <entry key="112" type="xstring" value="Bhutan"/>
                <entry key="113" type="xstring" value="Fiji"/>
                <entry key="114" type="xstring" value="Guinea"/>
                <entry key="115" type="xstring" value="Haiti"/>
                <entry key="116" type="xstring" value="Mauritania"/>
                <entry key="117" type="xstring" value="Nicaragua"/>
                <entry key="118" type="xstring" value="Niger"/>
                <entry key="119" type="xstring" value="Saint Lucia"/>
                <entry key="120" type="xstring" value="Sudan"/>
                <entry key="121" type="xstring" value="Antigua and Barbuda"/>
                <entry key="122" type="xstring" value="Chad"/>
                <entry key="123" type="xstring" value="Djibouti"/>
                <entry key="124" type="xstring" value="Dominica"/>
                <entry key="125" type="xstring" value="Eritrea"/>
                <entry key="126" type="xstring" value="Gambia"/>
                <entry key="127" type="xstring" value="Grenada"/>
                <entry key="128" type="xstring" value="Holy See"/>
                <entry key="129" type="xstring" value="Mozambique"/>
                <entry key="130" type="xstring" value="Nepal"/>
                <entry key="131" type="xstring" value="Papua New Guinea"/>
                <entry key="132" type="xstring" value="Saint Vincent and the Grenadines"/>
                <entry key="133" type="xstring" value="Somalia"/>
                <entry key="134" type="xstring" value="Syria"/>
                <entry key="135" type="xstring" value="Timor-Leste"/>
                <entry key="136" type="xstring" value="Uganda"/>
                <entry key="137" type="xstring" value="Belize"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="showLegend_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="showLegend" type="xboolean" value="true"/>
        <config key="enableGL_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableGL" type="xboolean" value="false"/>
        <config key="showFullscreen_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="showFullscreen" type="xboolean" value="true"/>
        <config key="title_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="title" type="xstring" value=""/>
        <config key="dataColor_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_color"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="dataColor">
            <entry key="Red" type="xint" value="0"/>
            <entry key="Green" type="xint" value="0"/>
            <entry key="Blue" type="xint" value="255"/>
            <entry key="Alpha" type="xint" value="255"/>
        </config>
        <config key="publishSelectionToggle_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="publishSelectionToggle" type="xboolean" value="true"/>
        <config key="xAxisLabel_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="xAxisLabel" type="xstring" value="Date"/>
        <config key="reportMissing_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="reportMissing" type="xboolean" value="true"/>
        <config key="showWarnings_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="showWarnings" type="xboolean" value="true"/>
        <config key="subscribeFilterToggle_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="subscribeFilterToggle" type="xboolean" value="true"/>
        <config key="publishSelection_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="publishSelection" type="xboolean" value="true"/>
        <config key="backgroundColor_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_color"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="backgroundColor">
            <entry key="Red" type="xint" value="255"/>
            <entry key="Green" type="xint" value="255"/>
            <entry key="Blue" type="xint" value="255"/>
            <entry key="Alpha" type="xint" value="255"/>
        </config>
        <config key="enableEditing_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableEditing" type="xboolean" value="false"/>
        <config key="svg_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_svg"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="svg">
            <entry key="width" type="xint" value="800"/>
            <entry key="height" type="xint" value="600"/>
            <entry key="fullscreen" type="xboolean" value="true"/>
            <entry key="showFullscreen" type="xboolean" value="true"/>
        </config>
        <config key="subscribeToFilters_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="subscribeToFilters" type="xboolean" value="true"/>
        <config key="enableSelection_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableSelection" type="xboolean" value="true"/>
        <config key="showGrid_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="showGrid" type="xboolean" value="true"/>
        <config key="overrideColors_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="overrideColors" type="xboolean" value="false"/>
        <config key="showSelectedOnlyToggle_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="showSelectedOnlyToggle" type="xboolean" value="true"/>
        <config key="yAxisLabel_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="yAxisLabel" type="xstring" value="Cases"/>
        <config key="tooltipToggle_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="tooltipToggle" type="xboolean" value="true"/>
        <config key="enablePlotlyEditor_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enablePlotlyEditor" type="xboolean" value="false"/>
        <config key="subscribeSelectionToggle_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="subscribeSelectionToggle" type="xboolean" value="true"/>
        <config key="xAxisColumn_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="xAxisColumn">
            <entry key="useRowID" type="xboolean" value="false"/>
            <entry key="columnName" type="xstring" value="date"/>
        </config>
        <config key="gridColor_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_color"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="gridColor">
            <entry key="Red" type="xint" value="0"/>
            <entry key="Green" type="xint" value="0"/>
            <entry key="Blue" type="xint" value="0"/>
            <entry key="Alpha" type="xint" value="255"/>
        </config>
        <config key="enableFeatureSelection_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableFeatureSelection" type="xboolean" value="true"/>
        <config key="enableViewControls_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableViewControls" type="xboolean" value="true"/>
        <config key="subscribeToSelection_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="subscribeToSelection" type="xboolean" value="true"/>
        <config key="mValues_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="mValues" type="xstring" value="Leave missing values"/>
        <config key="daColor_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_color"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="daColor">
            <entry key="Red" type="xint" value="255"/>
            <entry key="Green" type="xint" value="255"/>
            <entry key="Blue" type="xint" value="255"/>
            <entry key="Alpha" type="xint" value="255"/>
        </config>
        <entry key="hideInWizard" type="xboolean" value="false"/>
        <entry key="maxRows" type="xint" value="2500"/>
        <entry key="generateImage" type="xboolean" value="false"/>
        <entry key="customCSS" type="xstring" value=""/>
    </config>
    <config key="variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="columns">
                <config key="included_names">
                    <entry key="used_variable" type="xstring" value="countries_to_display"/>
                    <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
                </config>
            </config>
            <config key="customCSS">
                <entry key="used_variable" type="xstring" value="css-stylesheet"/>
                <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
            </config>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="line plot"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="393"/>
        <entry key="y-coordinate" type="xint" value="182"/>
        <entry key="width" type="xint" value="106"/>
        <entry key="height" type="xint" value="15"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="9"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.dynamic.js.v30.DynamicJSNodeFactory"/>
    <entry key="node-name" type="xstring" value="Line Plot (Plotly)"/>
    <entry key="node-bundle-name" type="xstring" value="Plotly.js integration into KNIME"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.plotly"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.7.0.v202211090000"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Plotly"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.plotly.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.7.0.v202211090000"/>
    <config key="factory_settings">
        <entry key="nodeDir" type="xstring" value="org.knime.js.plotly:nodes/:linePlot"/>
    </config>
    <entry key="name" type="xstring" value="Line Plot (Plotly)"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Inactive Port Object"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 184, Cols: 183"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="6776788f-e5eb-46c6-a16b-88ea8375eb87"/>
    </config>
</config>
